<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %>
    <%= f.collection_select :event_id,
        Event.all.order(:sequence), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :player1_id %>
    <%= f.collection_select :player1_id,
        Player.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= f.label :player2_id %>
    <%= f.collection_select :player2_id,
        Player.all, :id, :full_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
