<%= form_for(entry) do |f| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament_id %>
    <%= f.collection_select :tournament_id, Tournament.where('chosen = TRUE'), :id, :name_year %>
  </div>

  <div class="field">
    <%= f.label :team_id %>
    <%= f.collection_select :team_id, 
    Team.joins('INNER JOIN "events" ON "events"."id" = "teams"."event_id"
           INNER JOIN "players" ON "players"."id" = "teams"."player1_id"')
    .order("events.abbr asc","players.first_name asc","players.last_name asc"),
    :id, :team_name %>
  </div>

  <div class="field">
    <%= f.label :rank %>
    <%= f.number_field :rank %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
