<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Fm date:</strong>
  <%= @tournament.fm_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @tournament.to_date %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tournament.country.name %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
